* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightcoral;
}

.Logo {
  max-width: 120px;
  width: 100%;
}

.nav-items > ul > li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 22px;
}

.res-container {
  margin: 5px;
  /* background-color: blanchedalmond; */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.res-card {
  background-color: rgb(191, 200, 200);
  max-width: 250px;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.4;
}

.res-card:hover {
  background-color: rgb(43, 195, 226);
  color: antiquewhite;
  cursor: pointer;
}

.res-logo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.rate-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  margin: 15px 0;
  display: flex;
  gap: 10;
  align-items: center;
}

.search-filter {
  padding: 10px;
}
.btn {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(11, 229, 218);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: rgb(225, 0, 255);
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  background-color: palevioletred;
}

.shimmer-container {
  margin: 5px;
  background-color: blanchedalmond;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.shimmer-card {
  background-color: rgb(191, 200, 200);
  max-width: 250px;
  border-radius: 10px;
}
